[submodule "googleapis"]
	path = googleapis
	url = https://github.com/googleapis/googleapis
[submodule "proto/googleapis"]
	path = proto/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "chat-ui/src/proto/googleapis"]
	path = chat-ui/src/proto/googleapis
	url = https://github.com/googleapis/googleapis
